<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 缓存管理组件核心配置 -->
	<bean id="ehCacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
	</bean>

	<bean id="cacheManager" class="com.liuwww.common.cache.CacheManager" 
		destroy-method="shutdown" init-method="initialize" lazy-init="false">
		<property name="ehCacheManager" ref="ehCacheManager" />
		<property name="configuration">
			<bean class="net.sf.ehcache.config.CacheConfiguration">
				<property name="maxElementsInMemory" value="10000" />
				<property name="eternal" value="false" />
				<property name="overflowToDisk" value="false" />
			</bean>
		</property>
	</bean>
</beans>
